body{
  font-family:"sans-serif"
}

nav{
  padding: 8px 0px 8px 0px
/*   background-color:#F8F8F8;
 */}

/* Style the navigation bar */
.navbar {
  width: 100%;
background-color:rgb(14, 13, 13);
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: right;
  text-align: center;
  padding: 12px;
  color: rgb(254, 254, 255);
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: rgb(223, 215, 215);
}

.Icon{
  width:900px;
  display:inline-block; 
  font-weight:bold;
  padding: 0px 0px 0px 20px;
}

.IconText{
  border-right: none;
    font-family: Oswald;
    font-size: 20px;
    color: #f7f0f0;
    text-transform: uppercase;
    letter-spacing: .06em;
    display:inline-block;
    margin-top: 15px;
    position: absolute;
}

.nav-links{
  float: right;
}

/* p {
  color:white;
} */

/* Current/active navbar link */
.active {
  background-color: rgb(183, 213, 224);
  color:white;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

header {
  position: relative;
  height: 500px;
  }
header::after {
  content: "";
  background-image: url(./assets/company-formation.png);/* linear-gradient(#4b74e7, #b1dff1) */
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


h3{
  font-family: 'Open Sans';
  font-size: 2em;
}

/* h4{
  text-align: center;
} */

/* em {
  font-family: 'EB Garamond', serif;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  font-style:normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(114, 111, 111, 0.979);
} */


header h1 {
  -webkit-text-stroke: 0.2px black;
  text-shadow: 0.07em 0.07em 0 rgba(114, 111, 111, 0.979);
  color: #B6F600;
  font-family: 'Cardo','Ultra', sans-serif, serif;
  font-size: 3em;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2em;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
  text-align: center;
}

header h2{
  font-family: 'Open Sans';
  text-align: center;
  font-size: 3em;
}

svg {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
}

/* .grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 30px 30px;
  grid-auto-flow: row;
  padding:0 5% 0 5%;
} */

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
  
}

.container{
  
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: 1;
}

.box2 {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-column-start: 1;
  grid-row-start: 5;
  grid-row-end: 7;
  grid-gap: 20px;
  z-index: 2;
  padding: 20px;
  margin-left: 15%;
  line-height: 1.5em;
}

.item-a{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: center;
}
.item-b{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: center;
}
.item-c{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: center;
}
.item-d{
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: center;
}

.item-e{
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: center;
}

.box3 {
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 10;
  z-index: 1;
  margin-top: 0px;
  background-color: rgb(12, 12, 11);
  color: #f7f0f0;
  height: 200px;
}

.column { 
  float: left; 
  width: 27%; 
} 

.intouch{
  text-align: center;
}

.subheading{
  padding-left: 20%;
  font-weight: bold;
}

li {
  list-style-type: none;
}