
nav{
/*   background-color:#F8F8F8;
 */}

/* Style the navigation bar */
.navbar {
  width: 100%;
/*   background-color:#F8F8F8;
 */  
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: right;
  text-align: center;
  padding: 12px;
  color: rgb(254, 254, 255);
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: rgb(223, 215, 215);
}

p {
  color:white;
  width: 20em;
  z-index:10;
  float: left;
}

/* Current/active navbar link */
.active {
  background-color: rgb(183, 213, 224);
  color:white;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

header {
  position: relative;
  height: 500px;
  
}
header::after {
  content: "";
  background-image: url(./assets/company-formation.png);/* linear-gradient(#4b74e7, #b1dff1) */
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


h3{
  font-family: 'Open Sans';
}

em {
  font-family: 'EB Garamond', serif;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  font-style:normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(114, 111, 111, 0.979);
}


header h1 {
  -webkit-text-stroke: 0.2px black;
  text-shadow: 0.07em 0.07em 0 rgba(114, 111, 111, 0.979);
  color: #B6F600;
  font-family: 'Cardo', serif;
  font-size: 1.8em;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2em;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
  float: left;
}

header h2{
  font-family: 'Open Sans';
}

svg {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
}

.container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 30px 30px;
  grid-auto-flow: row;
}
